* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}

::selection {
  background: #fff;
  color: #121212;
}

.page-transition {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
}

section {
  width: 100%;
  height: auto;
  min-height: 100svh;
}

.content01 {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  flex-direction: column;
  gap: 40px;
}

.logo {
  transform: scale(0.9);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1);
}

.content01 p {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

.page-transition-overlay {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}
